.bgBlueGreen {
  background-color: #386163 !important;
}
.bgOrange {
  background-color: #ff5403 !important;
}
.bgLightBlue {
  background-color: #84a1ff !important;
}
.bgYellow {
  background-color: #cd921e !important;
}
.colorBlueGreen {
  color: #386163 !important;
}
.colorOrange {
  color: #ff5403 !important;
}
.colorLightBlue {
  color: #84a1ff !important;
}
.colorYellow {
  color: #cd921e !important;
}
.colorOffWhite {
  color: #97acbe !important;
}
.colorLimeYellow {
  color: #ffcc00 !important;
}
.bioText {
  color: #9b9fa7;
  line-height: 30px;
}
.js-calendar-graph-svg {
  margin: auto;
}
.contributions-graph .calendar {
  border: none;
  background: #2f2f2f;
  padding: 2rem;
  margin: 2%;
}
.contributions-graph .calendar .border,
.contributions-graph .calendar .contrib-column {
  border: none !important;
}
.contributions-graph .calendar .contrib-number {
    color: #9b9fa7 !important;
}
.imageDiv{
  max-width: 5rem;
  max-height: 5rem;
  padding: 10px;
  background-color: white;
}
.type{
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid darken(#5463ff, 30%);
  background-color: #5462ff60;
}
.subType{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.lineMark {
  border-left: 6px solid #ff5403;
  height: 70px;
  margin-left: 3%;
}
.techContainer{
  margin-top: 5%;
  max-height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1rem;
}
.techCard{
  max-width: 6rem;
  max-height: 7rem;
  min-width: 7rem;
  min-height: 7rem;
  padding: 1.5rem;
  margin: 2%;
  text-align: center;
  /* background: lighten($color-secondary-6, 7%); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  /* border-radius: $border-radius-1; */
}
.techName{
  font-size: 0.7rem;
}

@media screen and (max-width: 992px) {
  .contributions-graph .calendar {
    padding: 1rem;
  }
  .contributions-graph .calendar .border,
  .contributions-graph .calendar .contrib-column {
    display: block;
    width: 100%;
  }
  .contributions-graph .calendar .overflow-hidden {
    overflow-x: scroll !important;
  }
  .contributions-graph .calendar .overflow-hidden::-webkit-scrollbar {
    height: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .imgWidth {
    width: 50% !important;
  }
  .textCenter {
    text-align: center !important;
  }
  .mAuto {
    width: fit-content !important;
    margin: auto !important;
  }
  .lineMark{
    margin-left: 7%;
  }
}